.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* body{
  background-color: #E0E0E2;
}

h1{
  color: #721817;
}

h2{
  color: #721817;
}

.center-text{
  text-align: center;
}

#logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 > span {
  color: #FA9F42;
  font-size: 0.75em;
}

#copyright{
  padding-top: 12px;
  font-size: 0.75em;
} */